{% extends 'ex01/base.html' %}
{% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock title %}
{% block content %}
<div class="content">
  <table style="width: auto">
    <tbody>
      <tr>
        <h2>Static Web Page<h2>
      </tr>
      <tr>
      <ol>
        <li>In static web pages, Pages will remain same until someone changes it manually.</li>
        <li>Static Web Pages are simple in terms of complexity.</li>
        <li>In static web pages, Information are change rarely.</li>
        <li>Static Web Page takes less time for loading than dynamic web page.</li>
        <li>In Static Web Pages, database is not used.</li>
        <li>Static web pages are written in languages such as: HTML, JavaScript, CSS, etc.</li>
        <li>Static web pages does not contain any application program.</li>
        <li>Static web pages require less work and cost in designing them.</li>
      </ol>
    </tbody>
  </table>
</div>
{% endblock content %}